@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100&display=swap');
.App {
  max-width: 500px;
  width:100%;
  min-height: 400px;
  box-shadow: 0 2px 60px rgb(255, 192, 192);
  margin:150px auto;
  padding:50px;
  font-family: 'Lato', sans-serif;
  border: 1px solid rgb(255, 203, 203);
}

h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  color:#666;
}

form{
  width:100%;
  
  margin:20px 0;
  display:flex;
}

form input,
form button{
  flex:3;
  border:none;
  outline:none;
  border-bottom: 1px solid #555;
  margin:0 5px;
}

form button{
  flex: 1;
  background:none;
  color:rgb(12, 175, 12);
  border-radius: 50%;
  border:none;
  cursor:pointer;
}
ul{
  width:100%;
  padding-inline-start: 0;
}
ul li {
  list-style-type:none;
  border:1px solid #ccc;
  border-radius: 10px;
  margin:10px 0;
  padding:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

ul li .active{
  opacity: .5;
  text-decoration: line-through;
}

ul li button,
.row button{
  border:none;
  outline:none;
  color:rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
  padding:5px 15px;
  cursor: pointer;
}

ul li button::disabled{
  opacity: .5;
  cursor:not-allowed;
}

.row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.row .delete{
  background:none;
  color:red;
}

label{
  cursor:pointer;
}
